/* Memo Pad 固定 */
#memoPad {
	display: flex;
	flex-direction: column;
	height: 160px; /* 初期高さ */
	min-height: 160px;
	max-height: 55%;
	border: 1px solid #aaa;
}

.memo-header {
	flex-shrink: 0;
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 4px;
}

#memoTextarea {
	flex: 1;
	resize: none; /* 自前リサイズにするのでOFF */
	overflow: auto;
}

.memo-header select {
	flex: 1;
	font-size: 11px;
	padding: 2px 4px;
}

.memo-actions {
	flex-shrink: 0;
	display: flex;
	gap: 4px;
	margin-top: 4px;
}

#memoExecuteBtn {
	background: #6b7cff;
	color: rgb(255, 255, 255);
	font-size: 11px;
}
#memoExecuteBtn:hover {
	background: #5061dc;
}

/* プレースホルダー */
#memoTextarea::placeholder {
	white-space: pre-line;
	font-size: 11px;
	color: #888;
	line-height: 1.3;
}

/* メモ定型文 */
.memo-template-btn {
	background: #9ca737;
	color: rgb(255, 255, 255);
	font-size: 11px;
}

.memo-template-btn span {
	flex: 1;
}

.memo-template-btn .delete-template-btn {
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	padding: 0 2px;
}

.memo-template-btn:hover {
	background: #5e6522;
}

.delete-template-btn:hover {
	background: #5e6522;
}

#templateBtn{
	background: #9ca737;
	color: rgb(255, 255, 255);
	font-size: 11px;
}

#templateBtn:hover {
	background: #5e6522;
}

/* メモ帳のリサイズバー */
#memoResizeHandle {
	height: 6px;
	cursor: ns-resize;
	background: #ddd;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#memoResizeHandle:hover {
	background: #bbb;
}